
:root {
    --primary-title-color: #FFFFFF;
    --secondaty-title-color: #212121;
    --primary-text-color: #212121;
    --secondaty-text-color: #757575;
    --cursor-text-color: #2196F3;
}

body{
    font-family: Roboto;
font-style: normal;
}

/* списки и подчеркивания */
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}

/* шапка сайта */


.header-link{
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus{
    color: var(--cursor-text-color);
}

.header-contacts-link{
    font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.header-contacts-link:hover,
.header-contacts-link:focus{
    color:var(--cursor-text-color)
}

.header-logo{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.header-logo-web{
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
