/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* белый цвет текста #FFFFFF */
/* акцент #2196F3 */
/* цвет основного фона  */

.list {
  list-style: none;
}

.logo {
  color: #000000;
}
.web {
  color: #2196f3;
}
